body {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  --dark-orange: #ff8642;
  --light-orange: #ffd79b;
  --off-white: #fffcf2;
}

display {
  display: block;
  background: blue;
  border: 5px solid var(--light-orange);
}
